
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    background-color: #f9f9f9; 
    margin-top: 100px;
    gap: 30px;
}


.chart {
    width: 100%; 
    max-width: 900px;
    height: 500px; 
    margin-bottom: 20px; 
    border: 1px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
}

.chart-title {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
    text-align: center; 
    color: #333; 
    font-weight: bold; 
    width: 100%; 
}
