@import url(styles-destacadas.css);

.carousel-section {
  display: flex;
  justify-content: center;
  margin: -30px 20px 80px 20px;
}

.carousel__sections-cards {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__card {
  display: none;
}

.section__card.show {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  max-height: 500px;
}

.section__card {
  transition: opacity 0.3s, transform 0.3s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.section__card-content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__card-title {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 2rem;
  color: black;
}

.section__card-text {
  margin-bottom: 3rem;
  font-weight: 500;
}

.section__card-buttons a {
  margin-right: 1rem;
}

.section__card-imgs {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__card-img {
  padding: 50px;
}

.section__card-img img {
  border: 5px solid transparent; 
  border-radius: 10px; 
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.carousel-control {
  position: fixed;
  right: 10px;
  display: flex;
  flex-direction: column-reverse;

}

.prev,
.next {
  color:black;
  background-color: #f57b0a;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  transition: 0.6s;
}

.prev:hover,
.next:hover {
  background-color: #FA8516;
  color: white;
  transition: background-color 0.3s;
}

@media only screen and (max-width: 1150px) {
  .section__card-title {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 850px) {
  .section__card-img {
    padding: 50px 0;
  }

  .section__card-title {
    font-size: 3rem;
  }

  .section__card.show {
    flex-direction: column;
    max-height: 100%;
    padding-bottom: 0;
  }

  .section__card-content {
    margin-bottom: 2rem;
  }

  .carousel__sections {
    justify-content: center;
  }

  .carousel__sections-cards {
    justify-content: flex-end;
  }

  .carousel-control {
    flex-direction: row;
    align-items: center;
    position: static;
  }
}

@media only screen and (max-width: 510px) {
  .section__card-text,
  .section__card-title {
    text-align: center;
  }

  .section__card-buttons {
    display: flex;
    flex-direction: column;
  }

  .section__card-buttons a {
    margin: 0;
    text-align: center;
  }

  .section__card-buttons a:nth-child(1) {
    margin-bottom: 10px;
  }
}
